body {
	background: blue;
}

.jumbotron {
	text-align: center;
}

.row {
	margin-bottom: 10px;
}

.randomNumberDiv {
	background-color: red;
	text-align: center;

}

.winsLossesDiv {
	background-color: green;
	text-align: center;
}

.scoreDiv {
	background-color: orange;
	text-align: center;
}